@{
    ViewBag.Title = "Reconocimiento Libros";
}
@{

    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";
    var photoPath = "";
    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            photoPath = photo.FileName;
            newFileName = Path.GetFullPath(photo.FileName);
            imagePath = newFileName;


        }
    }

}


<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
    <style>
        img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend> Cargar Imagen </legend>
            <label for="Image">Imagen</label>
            <input type="file" name="Image" id="path" />
            <br />
            <input type="submit" value="Abrir" id="Subir" />
        </fieldset>
    </form>
    
    @if (imagePath != "")
    {
    <div class="result">
        <h1>Imagen Cargada</h1>
        <img src="@imagePath" alt="image" />

        <a href="@Url.Action("Contact", "Home", new { path = newFileName })">
            Mostrar Coincidencias
        </a>
    </div>
    }
</body>
</html>

